*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}

.about-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 250px 10% 0;
    color: white;
    height: 105vh;
    position: relative;

}

.about-section h1{
    font-size: 58px;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top:10%;
    left: 42%;
}

.about-content p{
    width: 75%;
    font-size: 20px;
    line-height:1.9;
    /*text-align: center;*/
    position: relative;
    top: -50px;
    left:35%;

}

.text{
    text-align: left;
}

.about-content span{
    color: gold;
    font-weight: 700;
    font-size: 40px;
}

.about-section img{
    width: 20vw;
    height: 59vh;
    border-radius: 10%;
    position: absolute;
    left:10%;
    top:35%;

}

.about-details p {
    font-size: 23px;
    line-height: 1.9;
    margin-left: 120px;
    margin-top: 10px;
}

.age{
    position: absolute;
    right: 40%;
    top: 76%;
    text-align: center;
}

.location{
    position: absolute;
    right: 38%;
    top: 83%;
}
.email{
    position: absolute;
    right: 24%;
    top: 91%;
}


@media (min-width: 1024px) and (max-width: 1290px){
    .about-section {
        padding: 220px 6% 0;
        height: auto;
    }

    .about-section h1 {
        font-size: 50px;
        left: 38%;
        top: 70px;
        text-align: center;
    }

    .about-content p {
        font-size: 20px;
        margin-top: 30px;
        line-height: 1.8;
        width: 70%;
    }

    .about-content span{
        font-size: 30px;
    }

    .about-content .text{
        font-size: 20px;
        line-height: 1.6;
    }
    .about-section img{
        width: 26vw;
        height: auto;
        position: absolute;
        align-self: center;
        border-radius: 20px;
        top: 0;
        left: 0;
        right: 65%;
        bottom:15%;
        margin: auto;
    }

}

@media (min-width: 651px) and (max-width: 1023px) {
    .about-section {
        padding: 180px 6% 0;
        height: auto;
    }

    .about-section h1 {
        font-size: 40px;
        left: 38%;
        top: 70px;
        text-align: center;
    }

    .about-content p {
        font-size: 20px;
        margin-top: 30px;
        width: 68%;
    }

    .about-content span{
        font-size: 30px;
    }

    .about-section img{
        width: 33vw;
        height: auto;
        position: absolute;
        align-self: center;
        border-radius: 20px;
        top: 0;
        left: 0;
        right: 65%;
        bottom:15%;
        margin: auto;
    }
}

@media (min-width: 377px) and (max-width: 650px) {

    .about-section{
        /*padding: 180px 6% 0;*/
        height: 160vh;
    }


    .about-section h1 {
        font-size: 39px;
        text-align: center;
        top: -20px;
        left: 125px;
    }

    .about-content p {
        width: 100%;
        font-size: 16px;
        text-align: left;
        line-height: 1.7;
        position: relative;
        top: 50px;
        left:5%;
    }

    .about-details p {
        font-size: 17px;
        position: relative;
        margin-left: -30px;
    }

    .about-content span{
        font-size: 19px;
    }
    .about-section img{
        width: 52vw;
        height: auto;
        position: absolute;
        align-self: center;
        border-radius: 20px;
        top: 0;
        left: 5%;
        right: 0;
        bottom:50%;
        margin: auto;
    }
}

@media all and (min-width: 374px) and (max-width: 376px) {
    .about-section img{
        width: 20vw;
        height: 49vh;
    }
}

@media (min-width: 300px) and (max-width: 376px) {
    .about-section {
        height: 160vh;
    }
    .about-section h1 {
        font-size: 32px;
        left: 8%;
    }

    .about-section h1 {
        font-size: 33px;
        text-align: center;
        top: -50px;
        left: 85px;
    }

    .about-content p {
        width:100%;
        font-size: 16px;
        text-align: center;
        line-height: 1.7;
        position: relative;
        left: 5px;
        top:50px;

    }

    .about-details p {
        width: 50%;
        font-size: 17px;
        position: relative;
        margin-left: -30px;
    }

    .about-content span{
        font-size: 19px;
    }

    .about-section img{
        width: 55vw;
        height: auto;
        position: absolute;
        align-self: center;
        border-radius: 20px;
        top: 0;
        left: 5%;
        right: 0;
        bottom:65%;
        margin: auto;
    }
}

