

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: rgb(30, 39, 46);
    color: white;
}

.assignment-container {
    max-width: 1200px;
    margin: auto;
    padding: 60px 20px;
    display: grid;
    gap: 50px;
}

.header-assignment {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    grid-column: 1 / -1;
}

.assignments-card {
    width: 25vw;
    height: 39vh;
    background-color: rgba(255, 215, 0, 0.48);
    border: 2px solid gold;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.assignments-card:hover {
    transform: scale(0.97);
}

.assignments-card h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.assignments-card p {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

@media (max-width: 374px) {
    .assignment-container {
        grid-template-columns: 1fr;
    }

    .header-assignment {
        font-size: 28px;
    }
}

@media (min-width: 375px) and (max-width: 424px) {
    .assignment-container {
        grid-template-columns: 1fr;
    }

    .header-assignment {
        font-size: 30px;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .assignment-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .header-assignment {
        font-size: 34px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .assignment-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .header-assignment {
        font-size: 40px;
    }
}

@media (min-width: 1024px) {
    .assignment-container {
        grid-template-columns: repeat(3, 1fr);
    }
}