*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.education-section{
    display: grid;
    width: 100%;
    height: 100vh;
    /*background-color: #282c32;*/
    grid-template-columns: repeat(4,1fr);
    position: relative;

}

.education-section h1{
    font-size: 55px;
    grid-column: 1/-1;
    color: white;
    justify-self: center;
    position: relative;
    top: 60px;

}

.education-card{
    width: 23vw;
    height: 45vh;
    background-color: rgba(255, 215, 0, 0.48);
    margin-left: 15px;
    border-radius: 20px;
    position: relative;
    border: 2px solid gold;
    align-items: center;
    cursor: pointer;
    transition-duration: 800ms;
    overflow: hidden;
    /*z-index: 1000;*/
    box-shadow: 0 0 10px gold;

}

.education-card::before{
    content: "";
    position: absolute;
    width: 23vw;
    background-image: linear-gradient(gold, rgb(241, 255, 0));
    box-shadow: 0 0 10px gold;
    height: 45vh;
    z-index: -2;
    animation: border2 10s linear infinite;
}

@keyframes border2 {
    from{
       transform: translateX(100%);
    }

    to{
       transform: translateX(-100%);
        box-shadow: 0 0 10px gold;

    }
}

.education-card:hover{
    transform: translatey(-15px);
}

.education-card img{
    width: 75px;
    height: 75px;
    border-radius: 20px;
    position: absolute;
    left: 0;
    right: 0    ;
    top: 0;
    bottom: 70%;
    margin: auto;
}

.education-card p{
    width: 95%;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 500;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

@media (max-width: 1024px) {
    .education-section {
        grid-template-columns: repeat(3, 1fr);
    }
    .education-card {
        width: 28vw;
        height: 40vh;
    }
}

@media (max-width: 768px) {
    .education-section {
        grid-template-columns: repeat(2, 1fr);
    }
    .education-card {
        width: 40vw;
        height: 40vh;
    }
}

@media (max-width: 425px) {
    .education-section {
        grid-template-columns: repeat(1, 1fr);
    }
    .education-card {
        width: 80vw;
        height: 40vh;
    }
}

@media (max-width: 375px) {
    .education-section {
        grid-template-columns: repeat(1, 1fr);
    }
    .education-card {
        width: 85vw;
        height: 40vh;
    }
    .education-card p{
        font-size: 15px;
    }
}

@media (min-width: 320px) and (max-width: 650px) {
    .education-section {
        grid-template-columns: repeat(1, 1fr);
    }
    .education-card {
        width: 90vw;
        height: 40vh;
        margin: 5px auto;

    }

    .education-card p {
        font-size: 15px;
    }

    .education-card img{
        width: 60px;
        height: 60px;
    }

    .education-section h1{
        font-size: 35px;
        top: 10px;
    }
}
