.footer-section {
    background-color: #1e272e;
    padding: 40px 20px;
    color:white;
    height:0.2vh;
    margin-top: 30px;
    position: relative;
    top: -300px;
}

.footer-section .container {
    max-width: 1200px;
    margin: 0px auto;
    text-align: center;

}

.footer-section hr {
    border: none;
    height: 1px;
    background-color: gold;
    margin-bottom: 30px;
}


.social-links {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 30px;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    /*background-color: white;*/
    border-radius: 50%;
    border: 2px solid gold;
    color: gold;
    font-size: 2.0rem;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px gold;
}

.social-links a:hover {
    transform: translateY(-5px);
    background-color: gold;
    color: black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.detail {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.detail p {
    position: relative;
    margin: 0;
    padding: 0 15px;
    font-size: 1.7rem;
    color: gold;
}


.copyright {
    font-size: 1.4rem;
    margin-top: 20px;
    color: gold;
}

@media (min-width: 651px) and (max-width: 1023px) {

    .footer-section {
        height:5vh;
    }
    .detail p {
        font-size: 1.2rem;
    }

    .copyright {
        font-size: 1rem;
    }
}

@media (min-width: 376px) and (max-width:650px) {
    .footer-section {
        height: 10vh;
    }

    .social-links {
        gap: 12px;
    }

    .detail p {
        font-size: 1.0rem;
    }

    .social-links a {
        width: 40px;
        height: 40px;
        font-size: 1.2rem;
    }

    .copyright {
        font-size: 0.8rem;
    }
}

@media (min-width: 200px) and (max-width:376px ) {
    .footer-section {
        height: 15vh;
    }

    .social-links {
        gap: 12px;
    }

    .detail p {
        font-size: 1.0rem;
    }

    .social-links a {
        width: 40px;
        height: 40px;
        font-size: 1.2rem;
    }

    .copyright {
        font-size: 0.8rem;
        line-height: 1.6;
    }
}

