*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#1e272e;
}

a{
    text-decoration: none;
    color: white;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    font-size: 30px;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar ul li{
    margin-left: 35px;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 20px;
}
