* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px 5% 0;
    color: white;
    position: relative;
}

.my-works h1 {
    font-size: 55px;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    top: 120px;
}

.woks-card {
    width: 28vw;
    height: 51vh;
    background-color: rgba(255, 215, 0, 0.48);
    margin: 20px;
    border: 3px solid gold;
    border-radius: 20px;
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow: hidden;
}

.woks-card:before{
    content: "";
    position: absolute;
    width: 100%;
    background-image: linear-gradient(gold, rgba(159, 255, 0, 0.78));
    box-shadow: 0 0 10px gold;
    height: 135%;
    top: -20px;
    z-index: -200;
    border-radius: 1px;
    animation: box 12s linear infinite;
}

@keyframes box {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(100%);
        box-shadow: 0 0 10px gold;
    }
}

.woks-card h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: black;
}

.woks-card p {
    font-size: 18px;
    line-height: 1.8;
    color: black;
    font-weight: 500;
    text-align: center;
}

.woks-card span {
    line-height: 2.5;
    text-align: center;
}

@media (min-width: 1024px) and (max-width: 1250px){

    .woks-card {
        width:50vw;
        height: auto;
        position: relative;
        top:230px;
        left: -10px;
    }

    .my-works h1 {
        font-size: 48px;
        top: 250px;
        left: -10px;
    }

    .woks-card h2 {
        font-size: 20px;
    }

    .woks-card p {
        font-size: 14px;
    }
}

@media (min-width: 651px) and (max-width: 1023px) {
    .woks-card {
        width:50vw;
        height: auto;
        position: relative;
        top:130px;
        left: -10px;
    }

    .my-works h1 {
        font-size: 40px;
        top: 150px;
        left: -10px;
    }

    .woks-card h2 {
        font-size: 20px;
    }

    .woks-card p {
        font-size: 14px;
    }
}


@media (min-width: 379px) and (max-width: 650px) {
    .woks-card {
        width:90vw;
        height: auto;
        position: relative;
        top:690px;
        left: 0px;
    }

    .my-works h1 {
        font-size: 28px;
        top: 720px;
        left: -10px;
    }

    .woks-card h2 {
        font-size: 20px;
    }

    .woks-card p {
        font-size: 14px;
    }
}


@media (min-width: 220px) and (max-width: 378px) {
    .woks-card {
        width:90vw;
        height: 48vh;
        position: relative;
        top:540px;
        left: 5px;
    }

    .my-works h1 {
        font-size: 28px;
        top: 550px;
        left: 5px;
    }

    .woks-card h2 {
        font-size: 20px;
    }

    .woks-card p {
        font-size: 14px;
    }
}
