*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    background-color: #1e272e;
    color: white;
}

.project-section h1{
    font-size: 55px;
    color: white;
    grid-column: 1/-1;
    text-align: center;
    align-self: center;
}

.project-section{
    max-width: 1200px;
    margin-left: -20px;
    padding: 90px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    color: black;
}

.project-card{
    width: 30vw;
    height: 50vh;
    background-color: rgba(255, 215, 0, 0.48);
    position: relative;
    top: 0%;
    border: 2px solid gold;
    border-radius: 30px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px gold;
    transition-duration: 800ms;
    cursor: pointer;
}

.project-card p{
    width: 80%;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    font-weight: 500;
    position: absolute;
    top: 32%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.project-card h2{
    width: 80%;
    line-height: 1.3;
    font-size: 27px;
    position: absolute;
    left: 0%;
    right: 0;
    top: 5%;
    /*bottom: 0;*/
    margin: auto;
    text-align: center;
}

.project-card::before{
    content: "";
    position: absolute;
    width: 200%;
    background-image: linear-gradient(gold, rgba(159, 255, 0, 0.78));
    box-shadow: 0 0 10px gold;
    height: 130%;
    z-index: -200;
    border-radius: 1px;
    animation: border 12s linear infinite;
}

@keyframes border {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(100%);
        box-shadow: 0 0 10px gold;


    }

}

.project-button{
    width: 200px;
    height: 50px;
    background-color: gold;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 980px;
    margin: auto;
}

@media (min-width: 1024px) and (max-width: 1250px){
    .project-section {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-card {
        width: 45vw;
        height: 48vh;
    }

    .project-card h2{
        font-size: 25px;
    }
    .project-card p{
        font-size: 17px;
    }

    .project-button{
        position: absolute;
        top: 1200px;
    }
}

@media (min-width: 651px) and (max-width: 1023px) {
    .project-section {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-card {
        width: 45vw;
        height: 58vh;
    }

    .project-card h2{
        font-size: 25px;
    }
    .project-card p{
        font-size: 17px;
    }

    .project-button{
        position: absolute;
        top: 1400px;
    }
}

@media (min-width: 379px) and (max-width: 650px) {
    .project-section {
        grid-template-columns: 1fr;
    }

    .project-card {
        width: 90vw;
        height: 45vh;
    }

    .project-card h2{
        font-size: 25px;
    }
    .project-card p{
        font-size: 17px;
    }

    .project-button{
        position: absolute;
        top: 2100px;
    }
}

@media (min-width: 320px) and (max-width: 378px) {
    .project-section {
        grid-template-columns: 1fr;
        padding: 60px 10px;
    }

    .project-card {
        width: 90vw;
        height: 45vh;
        margin-left: 20px;
    }

    .project-card h2{
        font-size: 20px;
    }
    .project-card p{
        font-size: 15px;
    }

    .project-button{
        font-size: 16px;
        width: 150px;
        position: absolute;
        top: 2100px;
    }
}

