*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.skills-section {
    padding: 60px 20px;
    display: grid;
    grid-template-columns:repeat(12 ,1fr);
    justify-content: center;
    width: 100%;
    position: relative;
    /*height: 100vh;*/
    /*position: absolute;*/
}

.skills-section h1{
    text-align: center;
    font-size: 55px;
    color: white;
    justify-self: center;
    position: absolute;
    top: 70px;
}

.skill-card {
    width: 6vw;
    height: 6vw;
    margin: -6px;
    border-radius: 10px;
    position: relative;
    bottom: -200px;
    cursor: pointer;
    background-color: rgba(255, 215, 0, 0.48);
    border: 2px solid gold;
    transition-duration: 800ms;
    box-shadow: 0 0 10px gold;
    animation-name: gold;
    animation-duration:26s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.skill-card:hover{
    transform: translateY(-10px);
}


@keyframes gold {
    0% {
        transform: translateX(130%);
    }
    100% {
        transform: translateX(-130%);
    }
}


.icon img{
    width: 60px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

@media (min-width: 1024px) {
    .skill-card {
        width: 6vw;
        height: 6vw;
    }

    .skills-section h1 {
        font-size: 55px;
    }
}

@media (min-width: 600px) and (max-width: 780px) {
    .skill-card {
        width: 100px;
        height: 100px;
        margin: 6px;
        position: relative;
        top: 200px;
    }

    .skills-section h1 {
        font-size: 40px;
        top: 130px;
    }

    .skills-section{
        grid-template-columns:repeat(6 ,1fr);
    }
}


@media (min-width: 378px) and (max-width: 520px) {

    .skills-section{
        grid-template-columns:repeat(3 ,1fr) ;

    }
    .skill-card {
        width: 80px;
        height: 80px;
        margin: 6px;
        margin-left: 60px;
        position: relative;
        top: 600px;
        right: 20px;
    }

    .skills-section h1 {
        font-size: 32px;
        position: absolute;
        top: 550px;
    }
}


@media (min-width: 320px) and (max-width: 376px) {

    .skills-section{
        display: grid;
        grid-template-columns:repeat(3 ,1fr);
        position: relative;
        /*top: -50%;*/
        /*padding: 450px  0;*/

    }
    .skill-card {
        width: 70px;
        height: 70px;
        position:relative;
        top: 600px;
        left: 10px;
        margin: 10px;
    }

    .skills-section h1 {
        font-size: 28px;
        position: absolute;
        top: 550px;
    }
}